a:hover{ color:#434343; }
#top-nav a:hover{ background:#fff; }	

#top-nav li.current a,
#top-nav li.current-menu-item a{ background:#fff;color:#000; }
#top-nav a:hover{ color:#000; }

#top-social a:hover{ color:#fff; }

#header-container{ background:#000; }
.title-bar span{ background:#000 url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a{ background:#3D3D3D url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a:hover{ color:#FFFFFF; }

.nav-container .slicknav_btn{ background:#fff }

.searchvideo{ border:0; }

.wp_link_pages a{ background:#fff; }
.widget-item li a:hover{ color:#fff; }
.tagcloud a{ background:#fff; }
.tagcloud a:hover{ color:#FFFFFF; }
#s{ background:#EEEEEE url(../../images/search-grey.png) no-repeat right center; }

#searchsubmit{ background:#fff; }
#comment-submit{ background:#fff; }

#reply-title a{ color:#fff; }
.comment-pagination a{ background:#fff; }
ul.pagination li a{ background:#fff; }

.blog-post .readmore{ background:#fff; }

.footer-container a:hover{ color:#fff }
.footer-container .widget-item li a:hover{ color:#fff; }
.footer-container .tagcloud a{ background:#fff; }
.footer-container .tagcloud a:hover{ color:#FFFFFF; }
.footer-container .widget-popular .popular-details a:hover{ color:#fff }
.footer-container .comment-widget .comment-text a:hover{ color:#fff; }

/* Nav Menu */
.nav-container{
	background:#fff url(../../images/nav-gloss.png) repeat-x top center;
	-moz-box-shadow: 0px 0px 20px #000;
	-webkit-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	}
.sf-menu ul{ background:#fff; }
.sf-menu a{color:#000;}
/* Hover */
.sf-menu li:hover,
.sf-menu li.sfHover{ color:#FFFFFF; background:#000 url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li a:hover{ color:#FFFFFF; background:#000 url(../../images/nav-gloss.png) repeat-x top center }

/* Active or Current Nav menu */
.sf-menu li.current a{ color: #000; background:#9dabac url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li.current-menu-item a{ color: #FFFFFF; background:#000 url(../../images/nav-gloss.png) repeat-x top center }

.tagcloud a {color:#000!important;}
/* Login and Sign up Style */
.user-forms .user-submit{ background:#fff }