a:hover{ color:#95a5a6; }
#top-nav a:hover{ background:#95a5a6; }	

#top-nav li.current a,
#top-nav li.current-menu-item a{ background:#95a5a6; }
#top-social a:hover{ color:#95a5a6; }

#header-container{ background:#95a5a6; }
.title-bar span{ background:#95a5a6 url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a{ background:#95a5a6 url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a:hover{ color:#FFFFFF; }

.nav-container .slicknav_btn{ background:#95a5a6 }

.searchvideo{ border:5px solid #879596; }

.wp_link_pages a{ background:#95a5a6; }
.widget-item li a:hover{ color:#95a5a6; }
.tagcloud a{ background:#95a5a6; }
.tagcloud a:hover{ color:#FFFFFF; }
#s{ background:#EEEEEE url(../../images/search-grey.png) no-repeat right center; }

#searchsubmit{ background:#95a5a6; }
#comment-submit{ background:#95a5a6; }

#reply-title a{ color:#95a5a6; }
.comment-pagination a{ background:#95a5a6; }
ul.pagination li a{ background:#95a5a6; }

.blog-post .readmore{ background:#95a5a6; }

.footer-container a:hover{ color:#95a5a6 }
.footer-container .widget-item li a:hover{ color:#95a5a6; }
.footer-container .tagcloud a{ background:#95a5a6; }
.footer-container .tagcloud a:hover{ color:#FFFFFF; }
.footer-container .widget-popular .popular-details a:hover{ color:#95a5a6 }
.footer-container .comment-widget .comment-text a:hover{ color:#95a5a6; }

/* Nav Menu */
.nav-container{
	background:#849394 url(../../images/nav-gloss.png) repeat-x top center;
	-moz-box-shadow: 0px 0px 20px #738283;
	-webkit-box-shadow: 0px 0px 20px #738283;
	box-shadow: 0px 0px 20px #738283;
	}
.sf-menu ul{ background:#95a5a6; }

/* Hover */
.sf-menu li:hover,
.sf-menu li.sfHover{ color:#FFFFFF; background:#9dabac url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li a:hover{ color:#FFFFFF; background:#9dabac url(../../images/nav-gloss.png) repeat-x top center }

/* Active or Current Nav menu */
.sf-menu li.current a{ color: #FFFFFF; background:#9dabac url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li.current-menu-item a{ color: #FFFFFF; background:#9dabac url(../../images/nav-gloss.png) repeat-x top center }


/* Login and Sign up Style */
.user-forms .user-submit{ background:#95a5a6 }