a:hover{ color:#e67e22; }
#top-nav a:hover{ background:#e67e22; }	

#top-nav li.current a,
#top-nav li.current-menu-item a{ background:#e67e22; }
#top-social a:hover{ color:#e67e22; }

#header-container{ background:#e67e22; }
.title-bar span{ background:#e67e22 url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a{ background:#e67e22 url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a:hover{ color:#FFFFFF; }

.nav-container .slicknav_btn{ background:#f89945 }

.searchvideo{ border:5px solid #dc771d; }

.wp_link_pages a{ background:#e67e22; }
.widget-item li a:hover{ color:#e67e22; }
.tagcloud a{ background:#e67e22; }
.tagcloud a:hover{ color:#FFFFFF; }
#s{ background:#EEEEEE url(../../images/search-orange.png) no-repeat right center; }

#searchsubmit{ background:#e67e22; }
#comment-submit{ background:#e67e22; }

#reply-title a{ color:#e67e22; }
.comment-pagination a{ background:#e67e22; }
ul.pagination li a{ background:#e67e22; }

.blog-post .readmore{ background:#e67e22; }

.footer-container a:hover{ color:#e67e22 }
.footer-container .widget-item li a:hover{ color:#e67e22; }
.footer-container .tagcloud a{ background:#e67e22; }
.footer-container .tagcloud a:hover{ color:#FFFFFF; }
.footer-container .widget-popular .popular-details a:hover{ color:#e67e22 }
.footer-container .comment-widget .comment-text a:hover{ color:#e67e22; }

/* Nav Menu */
.nav-container{
	background:#e67715 url(../../images/nav-gloss.png) repeat-x top center;
	-moz-box-shadow: 0px 0px 20px #cc650a;
	-webkit-box-shadow: 0px 0px 20px #cc650a;
	box-shadow: 0px 0px 20px #cc650a;
	}
.sf-menu ul{ background:#e67e22; }

/* Hover */
.sf-menu li:hover,
.sf-menu li.sfHover{ color:#FFFFFF; background:#f88825 url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li a:hover{ color:#FFFFFF; background:#f88825 url(../../images/nav-gloss.png) repeat-x top center }

/* Active or Current Nav menu */
.sf-menu li.current a{ color: #FFFFFF; background:#f88825 url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li.current-menu-item a{ color: #FFFFFF; background:#f88825 url(../../images/nav-gloss.png) repeat-x top center }

/* Login and Sign up Style */
.user-forms .user-submit{ background:#e67e22 }