a:hover{ color:#9b59b6; }
#top-nav a:hover{ background:#9b59b6; }	

#top-nav li.current a,
#top-nav li.current-menu-item a{ background:#9b59b6; }
#top-social a:hover{ color:#9b59b6; }

#header-container{ background:#9b59b6; }
.title-bar span{ background:#9b59b6 url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a{ background:#9b59b6 url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a:hover{ color:#FFFFFF; }

.nav-container .slicknav_btn{ background:#9b59b6 }

.searchvideo{ border:5px solid #864c9d; }

.wp_link_pages a{ background:#9b59b6; }
.widget-item li a:hover{ color:#9b59b6; }
.tagcloud a{ background:#9b59b6; }
.tagcloud a:hover{ color:#FFFFFF; }
#s{ background:#EEEEEE url(../../images/search-purple.png) no-repeat right center; }

#searchsubmit{ background:#9b59b6; }
#comment-submit{ background:#9b59b6; }

#reply-title a{ color:#9b59b6; }
.comment-pagination a{ background:#9b59b6; }
ul.pagination li a{ background:#9b59b6; }

.footer-container a:hover{ color:#9b59b6 }
.footer-container .widget-item li a:hover{ color:#9b59b6; }
.footer-container .tagcloud a{ background:#9b59b6; }
.footer-container .tagcloud a:hover{ color:#FFFFFF; }
.footer-container .widget-popular .popular-details a:hover{ color:#9b59b6 }
.footer-container .comment-widget .comment-text a:hover{ color:#9b59b6; }

.blog-post .readmore{ background:#9b59b6; }

/* Nav Menu */
.nav-container{
	background:#7a3696 url(../../images/nav-gloss.png) repeat-x top center;
	-moz-box-shadow: 0px 0px 20px #6d2d87;
	-webkit-box-shadow: 0px 0px 20px #6d2d87;
	box-shadow: 0px 0px 20px #6d2d87;
	}
.sf-menu ul{ background:#9b59b6; }

/* Hover */
.sf-menu li:hover,
.sf-menu li.sfHover{ color:#FFFFFF; background:#8a47a6 url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li a:hover{ color:#FFFFFF; background:#8a47a6 url(../../images/nav-gloss.png) repeat-x top center }

/* Active or Current Nav menu */
.sf-menu li.current a{ color: #FFFFFF; background:#8a47a6 url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li.current-menu-item a{ color: #FFFFFF; background:#8a47a6 url(../../images/nav-gloss.png) repeat-x top center }

/* Login and Sign up Style */
.user-forms .user-submit{ background:#9b59b6 }