a:hover{ color:#f1c40f; }
#top-nav a:hover{ background:#f1c40f; }	

#top-nav li.current a,
#top-nav li.current-menu-item a{ background:#f1c40f; }
#top-social a:hover{ color:#f1c40f; }

#header-container{ background:#f1c40f; }
.title-bar span{ background:#f1c40f url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a{ background:#f1c40f url(../../images/title-bar-gloss.png) repeat-x top center; }
.title-bar a:hover{ color:#FFFFFF; }

.nav-container .slicknav_btn{ background:#e1b60b }

.searchvideo{ border:5px solid #e1b60b; }

.wp_link_pages a{ background:#f1c40f; }
.widget-item li a:hover{ color:#f1c40f; }
.tagcloud a{ background:#f1c40f; }
.tagcloud a:hover{ color:#FFFFFF; }
#s{ background:#EEEEEE url(../../images/search-yellow.png) no-repeat right center; }

#searchsubmit{ background:#f1c40f; }
#comment-submit{ background:#f1c40f; }

#reply-title a{ color:#f1c40f; }
.comment-pagination a{ background:#f1c40f; }
ul.pagination li a{ background:#f1c40f; }

.blog-post .readmore{ background:#f1c40f; }

.footer-container a:hover{ color:#f1c40f }
.footer-container .widget-item li a:hover{ color:#f1c40f; }
.footer-container .tagcloud a{ background:#f1c40f; }
.footer-container .tagcloud a:hover{ color:#FFFFFF; }
.footer-container .widget-popular .popular-details a:hover{ color:#f1c40f }
.footer-container .comment-widget .comment-text a:hover{ color:#f1c40f; }

/* Nav Menu */
.nav-container{
	background:#ffcc00 url(../../images/nav-gloss.png) repeat-x top center;
	-moz-box-shadow: 0px 0px 20px #c8a515;
	-webkit-box-shadow: 0px 0px 20px #c8a515;
	box-shadow: 0px 0px 20px #c8a515;
	}
.sf-menu ul{ background:#f1c40f; }

/* Hover */
.sf-menu li:hover,
.sf-menu li.sfHover{ color:#FFFFFF; background:#fadc35 url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li a:hover{ color:#FFFFFF; background:#fadc35 url(../../images/nav-gloss.png) repeat-x top center }

/* Active or Current Nav menu */
.sf-menu li.current a{ color: #FFFFFF; background:#fadc35 url(../../images/nav-gloss.png) repeat-x top center }
.sf-menu li.current-menu-item a{ color: #FFFFFF; background:#fadc35 url(../../images/nav-gloss.png) repeat-x top center }

/* Login and Sign up Style */
.user-forms .user-submit{ background:#f1c40f }