@CHARSET "UTF-8";
.select-social-video-file{
	font-family: "socicon";
	color: black;    
	font-size: 18px;
    text-rendering: auto;
    float: right;
    margin-bottom: -15px;    
}
.block-general{
	position: relative;
	display: inline-block;
}
.block-general #option-social{
    color: #000;
    font-family: "socicon";
}
.block-general #option-social a{
	padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	color: #FFF;
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 10px 10px 0px;
    font-weight: 200;
    text-decoration: none !important;
}
.block-general #option-social span{
    font-size: 12px;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
}
.block-general #option-social a.opt-facebook{
    background: #3e5b98;
}
.block-general #option-social a.opt-twitter{
    background: #4da7de;
}
.block-general #option-social a.opt-googleplus{
    background: #dd4b39;
}
.block-general #option-social a.opt-linkedin{
    background: #3371b7;
}
.block-general #option-social a.opt-snaptcha{
    background: #fffa37;
}
.block-general #option-social a.opt-dig{
    background: #1d1d1b;
}
.block-general #option-social a.opt-facebook:hover{
    background: #354973;
}
.block-general #option-social a.opt-twitter:hover{
    background: #008bbf;
}
.block-general #option-social a.opt-googleplus:hover{
    background: #a73123;
}
.block-general #option-social a.opt-linkedin:hover{
    background: #0571A6;
}
.block-general #option-social a.opt-snaptcha:hover{
    background: #fffa37;
}
.block-general #option-social a.opt-dig:hover{
    background: #000;
}