/* ================================================== */
/* BuddyPress Overwrite */
/* ================================================== */
#buddypress a{ text-decoration:none; }


/* Header Status */
h2.user-nicename{ font-size:12px; }
#item-header-content span.activity{ font-size:12px; text-transform:capitalize }
#item-header #item-header-avatar{ background:#006699; width:10%; }
#item-header #item-header-avatar img{ width:100%; height:100% }

#buddypress div#item-header div#item-header-content{
	overflow:hidden;
	display:inline-block;
	width:80%;
	background:#f8f8f8;
	padding:20px;
	padding-bottom:0px;
	margin-bottom:60px
	}
#latest-update{ font-size:12px; line-height:1.5em; }
#item-buttons{ display:block;  margin-bottom:0px; padding-top:10px; }
#item-buttons .generic-button{ padding-bottom:20px; }


/* Item Navigation */
#item-nav{ border-bottom:1px solid #EEEEEE; padding-bottom:10px; }

/* Status */
#item-body{ }
#subnav{ display:block; margin-bottom:60px; }