@charset "utf-8";
/* Enter Your Custom CSS Here */
#suscriptioninf .live-stream-block{
  border:1px solid #CCCCCC;
}
#suscriptioninf div{display: block !important; table-layout:unset !important; border-spacing:0px !important;}
#suscriptioninf .live-stream-block {
  border: 1px solid #cccccc;
  width: 19%;
  float:left;
  margin:5px;
  max-width: 200px!important;
}
#suscriptioninf div.live-stream-block br{
  display:none;
}
#suscriptioninf a{
  display:block;
  margin:25px 25px 0 25px;
}
#suscriptioninf a:last-child{
 margin:5px 25px 25px 25px; 
}

#suscriptioninf a img {
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #666;
  display: block;
  height: auto;
  margin: auto;
  width: 100%;
}
#suscriptioninf a:last-child {
  background: red none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  line-height: 30px;
  margin: 15px 25px 25px;
  text-align: center;
  text-transform: uppercase;
  line-height:30px;
}

/******************************subscribers tab css **************/
#subscribers .live-stream-block{
  border:1px solid #CCCCCC;
}
#subscribers div{display: block !important; table-layout:unset !important; border-spacing:0px !important;}
#subscribers .live-stream-block {
  border: 1px solid #cccccc !important;
  width: 19% !important;
  float:left !important;
  margin:5px !important;
}
#subscribers div.live-stream-block br{
  display:none;
}
#subscribers .live-stream-block a{
color:#000;
font-weight:700;
  display:block;
 /* margin:25px 25px 0 25px;*/
 padding: 2px 0px;
}
#subscribers .live-stream-block a:last-child{
 margin:5px 25px 25px 25px; 
}
#subscribers .live-stream-block a img {
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #666;
  display: block;
  height: auto;
  margin: auto;
  width: 100%;
}
#subscribers .yith-infs-button-wrapper{
visibility:hidden;
}

#subscribers input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    width: 100% !important;
}


@media only screen and (max-width: 767px)
{
#subscribers .live-stream-block{
	width: 100%;
    max-width: 200px !important;
    min-width: 200px!important;
}
}

/******************************/
#friends .live-stream-block{
  border:1px solid #CCCCCC;
}
#friends div{display: block !important; table-layout:unset !important; border-spacing:0px !important;}
#friends .live-stream-block {
  border: 1px solid #cccccc;
  width: 19%;
  float:left;
  margin:5px;
}
#friends div.live-stream-block br{
  display:none;
}
#friends a{
  display:block;
  margin:25px 25px 0 25px;
}
#friends a:last-child{
 margin:5px 25px 25px 25px; 
}
#friends a img {
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #666;
  display: block;
  height: auto;
  margin: auto;
  width: 100%;
}
/* #friends a:last-child {
  background: red none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  line-height: 30px;
  margin: 15px 25px 25px;
  text-align: center;
  text-transform: uppercase;
  line-height:30px;
} */