.clear{ clear: both; }
.wrapper{ width:100%; }
.container{ 
	width:960px; 
	margin:0 auto;
	}
.full-width{ width:930px; margin:0 auto; }

.grid-2{ width:450px; float:left; margin-left:15px; margin-right:15px;}
.grid-3{ width:290px; float:left; margin-left:15px; margin-right:15px;}
.grid-4{ width:210px; float:left; margin-left:15px; margin-right:15px;}
.grid-5{ width:162px; float:left; margin-left:15px; margin-right:15px;}
.grid-6{ width:130px; float:left; margin-left:15px; margin-right:15px;}

.grid-one-fourth{ width:21.7%; float:left; margin-left:15px; margin-right:15px; }
.grid-one-half{ width:47.8%; float:left; margin-left:15px; margin-right:15px; }

.grid-2-3{ width:610px; float:left; margin-left:15px; margin-right:15px;}
.grid-3-4{ width:690px; float:left; margin-left:15px; margin-right:15px;}

.first{ margin-left:0px; }
.last{ margin-right:0px; }