/* ================================================== */
/* Image Holder */
/* ================================================== */
.image-holder{
	margin-bottom:10px;
	position:relative;
	}

.hover-item{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
	opacity:0;
	filter:alpha(opacity=0);
	}
	
.hover-item{
	position:absolute;
	background:#000000 url(../images/play-video.png) no-repeat center center;
	width:100%;
	height:100%;
	}

.hover-item:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
	}
	
.hover-item i{
	position:absolute;
	bottom:35%;
	left:40%;
	font-size:40px;
	display:inline-block;
	}
.hover-item a:hover i{ color:#FFFFFF; }



/* ================================================== */
/* Blog Hover Effects */
/* ================================================== */
.blog-post .image-holder{ overflow:hidden; height:280px; margin-bottom:30px }

.blog-post .blog-thumb{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}
.blog-post .blog-thumb:hover{
    -webkit-transform: scale(1.08,1.07);
    -moz-transform: scale(1.05,1.07);
	}