
/*
Theme Name: DIY Nation Splash Page
Theme URI: http://doityourselfnation.org
Author: MSH
Author URI: http://mainstreethost.com
Description: DIY Nation Splash Page
Version: 1.0
*/


.full-width {
    text-align: center;
}
.sf-menu {
    display: inline-flex;
}
.clear {
    clear: both;
}
.wrapper {
    width: 100%;
}
.container {
    margin: 0 auto;
    width: 100%;
}
.full-width {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.grid-2 {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 450px;
}
.grid-3 {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 290px;
}
.grid-4 {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 210px;
}
.grid-5 {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 162px;
}
.grid-6 {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 130px;
}
.p_90 {
    width: 90%;
}
.grid-one-fourth {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 21.7%;
}
.grid-one-half {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 47.8%;
}
.grid-2-3 {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 610px;
}
.grid-3-4 {
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    width: 75%;
}
.first {
    margin-left: 0;
}
.last {
    margin-right: 0;
}



body {
    font-family: 'Open Sans';
	margin: 0;
	background-color: #FFF;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #ee3224;
}
p {
    font-size: 12px;
    line-height: 1.6em;
    margin-bottom: 20px;
}
strong {
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: 'Open Sans',sans-serif;
    font-weight: 800;
    line-height: 1.5em;
    margin-bottom: 10px;
	text-align: center;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 33px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 23px;
}
h6 {
    font-size: 20px;
}
.spacing-10 {
    height: 10px;
    width: 100%;
}
.spacing-20 {
    height: 20px;
    width: 100%;
}
.spacing-30 {
    height: 30px;
    width: 100%;
}
.spacing-40 {
    height: 40px;
    width: 100%;
}
.spacing-50 {
    height: 50px;
    width: 100%;
}
.spacing-60 {
    height: 60px;
    width: 100%;
}
.spacing-70 {
    height: 70px;
    width: 100%;
}
.spacing-80 {
    height: 80px;
    width: 100%;
}
.spacing-90 {
    height: 90px;
    width: 100%;
}
.spacing-100 {
    height: 100px;
    width: 100%;
}
#top-bar {
    background: none repeat scroll 0 0 #111111;
}
#top-nav {
    font-family: 'Open Sans',sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
#top-nav li {
    float: left;
}
#top-nav a {
    color: #ffffff;
    display: inline-block;
    padding: 12px 15px;
}
#top-nav a:hover {
    background: none repeat scroll 0 0 #ee3224;
}
#top-nav li.current a, #top-nav li.current-menu-item a {
    background: none repeat scroll 0 0 #ee3224;
}
#top-social {
    float: right;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
#top-social li {
    float: left;
}
#top-social a {
    color: #ffffff;
    display: inline-block;
    padding: 10px 15px;
}
#top-social a:hover {
    color: #ee3224;
}
#header-container {
    background: none repeat scroll 0 0 #ee3224;
    overflow: hidden;
}
.searchvideo {
    background: url("../images/search.png") no-repeat scroll right center #f5f5f5;
    border: 5px solid #d8281b;
    float: right;
    outline: medium none;
    padding: 10px;
    width: 60%;
}
.title-bar {
    background: url("../images/title-bar-gloss.png") repeat-x scroll center top #000000;
    color: #ffffff;
    display: block;
    overflow: hidden;
}
h6.title-bar.no-margin {
    margin-bottom: 0;
}
.title-bar span {
    background: url("../images/title-bar-gloss.png") repeat-x scroll center top #ee3224;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 25px;
    text-transform: uppercase;
}
.title-bar a {
    background: url("../images/title-bar-gloss.png") repeat-x scroll center top #ee3224;
    color: #ffffff;
    float: right;
    font-size: 18px;
    padding: 5px 20px;
}
.result-title {
    font-size: 16px;
    text-transform: uppercase;
}
#page-title {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.stats {
    color: #888888;
    display: block;
    font-size: 11px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.stats li {
    float: left;
    margin-right: 10px;
}
.stats li:last-child {
    margin-right: 0;
}
.layout-title {
    text-transform: uppercase;
}
.layout-1 .layout-title {
    font-size: 13px;
    margin-bottom: 5px;
}
.layout-1-thumb {
    height: auto;
    width: 100%;
}
.layout-1 p {
    margin-bottom: 0;
}
.layout-1 .hover-item {
    height: 98%;
}
.layout-2 .layout-title {
    font-size: 14px;
    margin-bottom: 5px;
}
.layout-2 .stats {
    margin-bottom: 20px;
}
.layout-2 .image-holder {
    margin-bottom: 0;
}
.layout-2 p {
    margin-bottom: 0;
}
.layout-2-thumb {
    height: auto;
    width: 100%;
}
.layout-2-wrapper {
    border: 1px solid #eeeeee;
    margin-bottom: 20px;
    padding: 15px;
}
.layout-2-wrapper.solid-bg {
    background: none repeat scroll 0 0 #f6f6f6;
    padding: 15px;
}
.layout-2-details {
    margin-left: 10px;
    overflow: hidden;
}
.layout-2 .hover-item {
    height: 98%;
}
.layout-3 .layout-title {
    font-size: 12px;
    margin-bottom: 0;
}
.layout-3 .stats {
    font-size: 10px;
    margin-bottom: 25px;
}
.layout-3-thumb {
    height: auto;
    width: 100%;
}
.layout-3 .hover-item {
    height: 98%;
}
.layout-4 .layout-title {
    font-size: 14px;
    margin-bottom: 3px;
}
.layout-4 .stats {
    margin-bottom: 0;
}
.layout-4-details {
    overflow: hidden;
}
.layout-4 .hover-item {
    height: 99%;
}
.layout-banner-ads img {
    width: 100%;
}
#VideoEmbed iframe {
    height: 370px;
    margin-bottom: 30px;
    width: 100%;
}
#VideoPlayer {
    height: 380px;
    margin-bottom: 20px;
    width: 100%;
}
#DesktopPlaylist, #MobilePlaylist, #VideoPlayer {
    text-align: center;
}
.video-heading {
    position: relative;
}
.video-title {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
    width: 50%;
}
.NoVideo {
    background: url("../images/novideo.png") no-repeat scroll center center #000000;
    height: 370px;
    margin-bottom: 30px;
    width: 100%;
}
.post-tags {
    margin-top: 20px;
}
.post-tags a {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5em;
    text-transform: capitalize;
}
.post-tags i {
    margin-right: 5px;
}
.post-tags span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.post-categories {
    margin-top: 20px;
}
.post-categories a {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5em;
    text-transform: capitalize;
}
.post-categories i {
    margin-right: 5px;
}
.post-categories span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.wp_link_pages {
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
}
.wp_link_pages a {
    background: none repeat scroll 0 0 #ee3224;
    color: #ffffff;
    display: inline-block;
    padding: 4px 7px;
    text-decoration: none;
}
.wp_link_pages a:hover {
    background: none repeat scroll 0 0 #000000;
}
.post-by {
    margin-bottom: 20px;
    width: 100%;
}
.post-by .avatar {
    float: left;
    margin-right: 10px;
}
.post-by .post-by-vid-count {
    display: block;
    font-size: 10px;
    margin-top: 5px;
    text-transform: uppercase;
}
.post-by .post-by-link {
    font-size: 13px;
    font-weight: bold;
}
.sharer {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 5px;
}
.sharer li {
    float: left;
    margin-left: 10px;
}
.sharer a {
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px;
}
.sharer a:hover {
    color: #ffffff;
}
.sharer i {
    margin-right: 10px;
}
.sharer a.facebook {
    background: none repeat scroll 0 0 #4c67a1;
}
.sharer a.facebook:hover {
    background: none repeat scroll 0 0 #354973;
}
.sharer a.twitter {
    background: none repeat scroll 0 0 #00aced;
}
.sharer a.twitter:hover {
    background: none repeat scroll 0 0 #008bbf;
}
.sharer a.google {
    background: none repeat scroll 0 0 #cb3b2a;
}
.sharer a.google:hover {
    background: none repeat scroll 0 0 #a73123;
}
.widget-item {
    margin-bottom: 40px;
}
.widget-title {
    background: url("../images/widget-title-gloss.png") repeat-x scroll center top #000000;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 5px 5px 10px;
    text-transform: uppercase;
}
.widget-item li a {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}
.widget-item li a:hover {
    color: #ee3224;
}
.widget-item li {
    border-bottom: 1px solid #eeeeee;
    font-size: 13px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.widget-item li.page_item_has_children {
    border-bottom: medium none;
}
.widget-item .children {
    margin-left: 20px;
    margin-top: 10px;
}
.widget-item .children li {
    border-bottom: medium none;
    list-style: square inside none;
    padding-bottom: 0;
}
.widget-item .children li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.widget-item li:last-child {
    border-bottom: medium none;
}
.widget_calendar {
    float: left;
}
#wp-calendar {
    width: 100%;
}
#wp-calendar caption {
    color: #333;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
}
#wp-calendar thead {
    font-size: 10px;
}
#wp-calendar thead th {
    padding-bottom: 10px;
}
#wp-calendar tbody {
    color: #aaa;
}
#wp-calendar tbody td {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}
#wp-calendar tbody td:hover {
    background: none repeat scroll 0 0 #fff;
}
#wp-calendar tbody .pad {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#wp-calendar tfoot #next {
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
}
#wp-calendar tfoot #prev {
    font-size: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.tagcloud a {
    background: none repeat scroll 0 0 #ee3224;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 3px;
    padding: 10px;
}
.tagcloud a:hover {
    background: none repeat scroll 0 0 #333333;
}
.screen-reader-text {
    display: none;
}
#s {
    background: url("../images/search-red.png") no-repeat scroll right center #eeeeee;
    border: medium none;
    float: left;
    outline: medium none;
    padding: 5.8px;
    width: 97.5%;
}
#searchsubmit {
    background: none repeat scroll 0 0 #ee3224;
    border: medium none;
    color: #ffffff;
    display: none;
    float: left;
    margin-left: 0;
    padding: 6px 8px;
}
.widget-popular .image-holder {
    float: left;
    height: 50px;
    margin-bottom: 0;
    margin-right: 10px;
    width: 50px;
}
.widget-popular .post-thumbnail {
    height: 50px;
    width: 50px;
}
.widget-popular .popular-details {
    overflow: hidden;
    padding-top: 5px;
}
.widget-popular .popular-details a {
    color: #333333;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 5px;
}
.widget-popular .stats {
    display: block;
}
.widget-popular .stats li {
    border: medium none;
    float: left;
    font-size: 10px;
    margin: 0 7px 10px 0;
    padding: 0;
    text-transform: capitalize;
}
.comment-widget li {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.comment-avatar {
    float: left;
    margin-right: 10px;
}
.comment-text {
    overflow: hidden;
}
.comment-text p {
    margin-bottom: 0;
    padding-top: 3px;
}
.widget-ads img {
    width: 100%;
}
.comment-title {
    border-bottom: 1px solid #dddddd;
    font-size: 13px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.comment-header {
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
}
.comment-header span {
    color: #333333;
    font-weight: bold;
}
.comment-text {
    overflow: hidden;
}
.comment-text p {
    font-size: 12px;
}
.comment-awaiting-moderation {
    font-weight: 700;
}
.reply-link {
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    text-align: left;
    text-transform: capitalize;
}
#cancel-comment-reply-link {
    font-size: 14px;
}
.avatar-container {
    float: left;
    margin-right: 20px;
}
.comment-list .children {
    margin-left: 80px;
    margin-top: 40px;
}
.comment-list li {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.comment-list .children li {
    border-bottom: medium none;
}
.comment-list li:last-child {
    border-bottom: medium none;
    margin-bottom: 0;
}
.comment-list .children li:last-child {
    margin-bottom: 0;
}
.comment-email, .comment-name, .comment-url {
    border: 1px solid #dddddd;
    float: left;
    margin-bottom: 20px;
    margin-right: 15px;
    outline: medium none;
    overflow: hidden;
    padding: 10px;
    width: 28.6%;
}
.comment-url.last {
    margin-right: 0;
}
.comment-text-area {
    border: 1px solid #dddddd;
    font-family: Arial,Helvetica,sans-serif;
    height: 100px;
    margin-bottom: 0;
    outline: medium none;
    overflow: hidden;
    padding: 10px;
    width: 96.5%;
}
#comment-submit {
    background: none repeat scroll 0 0 #ee3224;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
}
#comment-submit:hover {
    background: none repeat scroll 0 0 #333333;
    color: #ffffff;
}
#reply-title {
    font-size: 14px;
    text-transform: uppercase;
}
#reply-title a {
    color: #ee3224;
}
#reply-title small {
    float: right;
    font-size: 10px;
}
.comment-pagination {
    margin-bottom: 40px;
}
.comment-pagination span {
    background: none repeat scroll 0 0 #000000;
    color: #ffffff;
    padding: 5px 10px;
}
.comment-pagination a {
    background: none repeat scroll 0 0 #ee3224;
    color: #ffffff;
    padding: 5px 10px;
}
.comment-pagination a:hover {
    background: none repeat scroll 0 0 #000000;
}
.blog-post {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.blog-thumb {
    margin-bottom: 20px;
}
.blog-post .stats {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.blog-post .stats li {
    display: inline-block;
}
.blog-post .stats i {
    color: #bbbbbb;
    margin-right: 5px;
}
.blog-post .readmore {
    background: none repeat scroll 0 0 #ee3224;
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 15px;
    text-transform: uppercase;
}
.blog-post .readmore:hover {
    background: none repeat scroll 0 0 #000000;
    color: #ffffff;
}
.blog-post .readmore i {
    font-size: 14px;
    margin-left: 3px;
}
.blog-post-single .stats {
    display: inline-block;
    margin-bottom: 20px;
}
.blog-post-single ul.stats i {
    color: #bbbbbb;
    margin-right: 5px;
}
ul.pagination {
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
}
ul.pagination li {
    float: left;
    margin-right: 5px;
}
ul.pagination li a {
    background: none repeat scroll 0 0 #ee3224;
    color: #ffffff;
    padding: 5px 8px;
}
ul.pagination li a:hover {
    background: none repeat scroll 0 0 #000000;
}
ul.pagination li.current a {
    background: none repeat scroll 0 0 #000000;
}
.footer-container {
    background: none repeat scroll 0 0 #000000;
    color: #666666;
    padding-bottom: 20px;
    padding-top: 40px;
}
.footer-container.nopadding {
    padding-top: 0;
}
.footer-container .widget-title {
    background-image: none;
    border-bottom: 1px solid #333333;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 25px;
    padding: 0 0 10px;
    text-transform: uppercase;
}
#copyright {
    border-top: 1px solid #333333;
    line-height: 1.5em;
    margin-bottom: 0;
    padding-top: 20px;
}
#copyright-text {
    float: left;
    padding-top: 5px;
    width: 50%;
}
#footer-logo {
    float: left;
    height: 30px;
    text-align: right;
    width: 50%;
}
.footer-container a {
    color: #999999;
}
.footer-container a:hover {
    color: #ee3224;
}
.footer-container .widget-item {
    margin-bottom: 40px;
}
.footer-container .widget-item li {
    border-bottom: medium none;
    font-size: 13px;
    margin-bottom: 10px;
    padding-bottom: 0;
}
.footer-container .widget-item li:last-child {
    border-bottom: medium none;
}
.footer-container .widget-item li a {
    color: #999999;
    font-size: 12px;
    font-weight: bold;
}
.footer-container .widget-item li a:hover {
    color: #ee3224;
}
.footer-container .widget_calendar {
    float: left;
}
.footer-container #wp-calendar {
    width: 100%;
}
.footer-container #wp-calendar caption {
    color: #666666;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
}
.footer-container #wp-calendar thead {
    font-size: 10px;
}
.footer-container #wp-calendar thead th {
    padding-bottom: 10px;
}
.footer-container #wp-calendar tbody {
    color: #aaa;
}
.footer-container #wp-calendar tbody td {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #222222;
    padding: 8px;
    text-align: center;
}
.footer-container #wp-calendar tbody td:hover {
    background: none repeat scroll 0 0 #888888;
    color: #ffffff;
}
.footer-container #wp-calendar tbody .pad {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.footer-container #wp-calendar tfoot #next {
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
}
.footer-container #wp-calendar tfoot #prev {
    font-size: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.footer-container .tagcloud a {
    background: none repeat scroll 0 0 #ee3224;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 3px;
    padding: 10px;
}
.footer-container .tagcloud a:hover {
    background: none repeat scroll 0 0 #333333;
}
.footer-container .widget-popular li {
    border-bottom: 1px solid #333333;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.footer-container .widget-popular .image-holder {
    float: left;
    height: 50px;
    margin-bottom: 0;
    margin-right: 10px;
    width: 50px;
}
.footer-container .widget-popular .post-thumbnail {
    height: 50px;
    width: 50px;
}
.footer-container .widget-popular .popular-details {
    overflow: hidden;
    padding-top: 5px;
}
.footer-container .widget-popular .popular-details a {
    color: #999999;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 5px;
}
.footer-container .widget-popular .popular-details a:hover {
    color: #ee3224;
}
.footer-container .widget-popular .stats {
    display: block;
}
.footer-container .widget-popular .stats li {
    border: medium none;
    float: left;
    font-size: 10px;
    margin: 0 7px 10px 0;
    padding: 0;
    text-transform: capitalize;
}
.footer-container .comment-widget li {
    border-bottom: 1px solid #333333;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.footer-container .comment-avatar {
    float: left;
    margin-right: 10px;
}
.footer-container .comment-text {
    overflow: hidden;
}
.footer-container .comment-text p {
    margin-bottom: 0;
    padding-top: 3px;
}
.footer-container .comment-widget .comment-text a {
    color: #999999;
}
.footer-container .comment-widget .comment-text a:hover {
    color: #ee3224;
}
.etabs {
    margin: 0;
    padding: 0;
}
.tab {
    border-bottom: medium none;
    display: inline-block;
}
li.tab {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #f8f8f8 #f8f8f8 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    margin: 0;
    padding-bottom: 0;
    text-align: center;
}
.tab a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    outline: medium none;
    padding: 10px 15px;
    text-transform: uppercase;
}
.tab i {
    margin-left: 5px;
}
.tab.active {
    background: none repeat scroll 0 0 #f8f8f8;
    padding-top: 0;
    position: relative;
}
.tab-content {
    background: none repeat scroll 0 0 #f8f8f8;
    border-top: medium none;
    padding: 25px 15px 15px;
}
.user-forms .user-input {
    border: 5px solid #f5f5f5;
    margin: 0 0 10px;
    outline: medium none;
    padding: 8px;
    width: 85%;
}
.user-forms .user-submit {
    background: none repeat scroll 0 0 #ee3224;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    outline: medium none;
    padding: 5px 10px;
    text-transform: uppercase;
}
.user-forms .user-submit:hover {
    background: none repeat scroll 0 0 #000000;
}
.update-profile-form {
    margin-bottom: 40px;
}
.update-profile-form h6 {
    font-size: 14px;
}
.update-profile-form .user-input {
    background: none repeat scroll 0 0 #eeeeee;
    border: 5px solid #f8f8f8;
    color: #888888;
    margin-bottom: 10px;
    outline: medium none;
    padding: 10px;
    width: 60%;
}
.update-profile-form textarea.user-input {
    font-family: Arial,Helvetica,sans-serif;
    height: 100px;
    line-height: 1.5em;
    width: 90%;
}
.update-profile-form i {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #aaaaaa;
    border-color: #f8f8f8 -moz-use-text-color #f8f8f8 #f8f8f8;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 5px medium 5px 5px;
    color: #ffffff;
    font-size: 14px;
    min-width: 20px;
    padding: 11.3px;
    text-align: center;
}
.update-profile-form label {
    display: block;
}
.update-profile-form .user-submit {
    background: none repeat scroll 0 0 #ee3224;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    outline: medium none;
    padding: 10px 15px;
    text-transform: uppercase;
}
.update-profile-form .user-submit:hover {
    background: none repeat scroll 0 0 #000000;
}
.update-error {
    background: none repeat scroll 0 0 #f5c9c9;
    color: #e15e5e;
    margin-bottom: 20px;
    padding: 20px;
}
.update-success {
    background: none repeat scroll 0 0 #d7ffd8;
    color: #8be18d;
    line-height: 1.5em;
    margin-bottom: 20px;
    padding: 20px;
}
.widget-register-success {
    background: none repeat scroll 0 0 #d7ffd8;
    color: #8be18d;
    line-height: 1.5em;
    margin-bottom: 20px;
    padding: 20px;
}
.widget-register-error {
    background: none repeat scroll 0 0 #f5c9c9;
    color: #e15e5e;
    margin-bottom: 20px;
    padding: 20px;
}
.widget-register-error li {
    border-bottom: medium none;
    line-height: 1.5em;
    list-style: square inside none;
}
.widget-register-error li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.widget-user-profile {
    background: none repeat scroll 0 0 #f8f8f8;
    padding: 15px;
}
.widget-user-profile .avatar {
    float: left;
    margin-right: 10px;
}
.widget-user-profile .welcome {
    text-transform: capitalize;
}
.widget-user-profile .profile-header {
    margin-bottom: 20px;
    padding: 1px;
}
.widget-profile-controls {
    margin-bottom: 0;
}
.widget-profile-controls i {
    margin-right: 5px;
}
.widget-profile-controls li {
    border-bottom: 1px solid #dfdfdf;
}
.widget-profile-controls li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.user-profile {
    margin-bottom: 40px;
}
.user-profile .avatar {
    border: 5px solid #eeeeee;
    float: left;
    margin-right: 20px;
}
.user-info {
    line-height: 1.5em;
    overflow: hidden;
}
.user-info p {
    margin-bottom: 10px;
}
.user-info strong {
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
}
.user-social {
    display: inline-block;
    float: right;
    font-size: 20px;
    margin-bottom: 20px;
}
.user-social li {
    float: left;
    margin-right: 10px;
}
.content-empty {
    height: 100px;
    width: 100%;
}
.wp-caption {
    background: none repeat scroll 0 0 #f2f2f2;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
}
.wp-caption-text {
    font-weight: normal;
    margin-bottom: 0;
}
.wp-caption img {
    margin-bottom: 10px;
}
.alignleft {
    clear: both;
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
}
.alignright {
    clear: both;
    float: right;
    margin-bottom: 10px;
    margin-left: 20px;
}
.aligncenter {
    border: 1px solid #d4d4d4;
    margin: 0 auto 5px;
}
.bypostauthor {
}
.gallery-caption {
    display: none;
}
.gallery-item {
    text-align: center;
}
.wp-caption-dt {
    display: none;
}
.sticky {
    background: url("../images/sticky.png") no-repeat scroll right bottom rgba(0, 0, 0, 0);
}


/* zz */


body {
    font-family: 'Open Sans';
}
p {
    font-size: 22px;
    font-weight: 300;
}
.fifty-percent {
    clear: none;
    display: inline-block;
    margin: 0;
    width: 50%;
}
.main_wrapper {
    width: 100%;
}
.search_box {
    float: right;
}
.sidebar {
    float: left;
    padding-left: 20px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b4b4b;
}
.entry {
    margin-bottom: 40px;
    padding: 15px;
}
.entry p {
    font-size: 18px;
}
.entry ul, .entry ol {
    margin-bottom: 0;
}
#header-container-wrapper {
    background: none repeat scroll 0 0 #3498db;
    width: 100%;
}
#header-container {
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 90%;
}
.logo-container {
    margin-left: 0;
    width: 94px;
}
.search_box {
    float: left;
    padding-top: 18px;
    width: 300px;
}
.searchvideo {
    border: medium none;
    float: left;
    height: 20px;
    width: 100%;
}
.nav-container-wrapper {
    background: none repeat scroll 0 0 #21648f;
    width: 100%;
    margin: 0 auto;
}
.nav-container {
    background: none repeat scroll 0 0 #21648f;
    box-shadow: none;
    margin: auto;
    width: 90%;
}
.sf-menu a {
    padding: 1em 2.2em 1em 0;
    display: inline-flex;
}
.sf-menu li.current-menu-item a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    display: inline-flex;
}
.social_media_icons {
    float: right;
    padding-top: 18px;
    width: auto;
}
.social_icon {
    display: inline-block;
    width: 28px;
}
.home .spacing-40 {
    height: 0;
}
.home .spacing-50 {
    height: 0;
}
h1 {
    color: #3498db;
    font-size: 55px;
    text-align: center;
}
.homepage-header {
    background: none repeat scroll 0 0 #2375ac;
    width: 100%;
}
.homepage-layout hr {
    margin-bottom: 40px;
    margin-top: 20px;
}
.homepage_main_video {
    display: inline-block;
    float: left;
    width: 50%;
}
.homepage_videos_wrapper {
    clear: none;
    display: inline-block;
    float: right;
    width: 50%;
}
.homepage_video {
    display: inline-block;
    float: left;
    width: 50%;
}
.home-page-scroller {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    width: 178px;
}
.title-bar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #4b4b4b;
    padding: 0;
}
.title-bar span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 34px;
    padding: 0;
}
.spacer-dark {
    background: none repeat scroll 0 0 #c9c9c9;
    height: 6px;
    margin-bottom: 16px;
    margin-top: 5px;
    width: 56px;
}
.homepage-video-holder {
    margin-left: 0;
    position: relative;
    width: 1800px;
    z-index: 1;
}
.first-homepage-video {
    margin-left: 62px;
}
.scroll-right {
    background: none repeat scroll 0 0 #000000;
    float: right;
    height: 170px;
    margin-top: -150px;
    position: relative;
    width: 30px;
    z-index: 999;
}
.scroll-left {
    background: none repeat scroll 0 0 #000000;
    float: left;
    height: 170px;
    margin-top: -150px;
    position: relative;
    width: 30px;
    z-index: 999;
}
.sidebar-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    width: 22%;
}
.sidebar {
    margin: 0 !important;
    padding: 0 !important;
}
h4 {
    color: #3498db;
    font-size: 13px;
    transition: all 0.5s ease 0s;
}
h4:hover {
    color: #000;
}
.sign_up_area {
    background: url("../images/signupbackground.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 400px;
    width: 100%;
}
.sign_up_title {
    color: #3498db;
    font-family: Open Sans;
    font-size: 50px;
    font-weight: 800;
    padding-top: 80px;
    text-align: center;
    text-transform: uppercase;
}
.sign_up_text {
    font-family: Open Sans;
    font-size: 20px;
    margin: 20px;
    padding-bottom: 80px;
    text-align: center;
    text-transform: uppercase;
}
.login_button {
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    float: right;
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 500;
    margin: auto 10px auto auto;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 40%;
}
.sign_up_button {
    background-color: #216490;
    border-radius: 5px;
    color: #fff;
    float: left;
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 500;
    margin: auto auto auto 10px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 40%;
}
.footer-container .tagcloud a {
    text-transform: uppercase;
}
.footer-container > .p_90 > .grid-4 {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 19%;
}
.footer-container > .p_90 > .grid-4 > .grid-4 {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 90%;
}

a:hover {
    color: #3498db;
}
#top-nav a:hover {
    background: none repeat scroll 0 0 #3498db;
}
#top-nav li.current a, #top-nav li.current-menu-item a {
    background: none repeat scroll 0 0 #3498db;
}
#top-social a:hover {
    color: #3498db;
}
#header-container {
    background: none repeat scroll 0 0 #3498db;
}
.title-bar span {
    background: url("../../images/title-bar-gloss.png") repeat-x scroll center top #3498db;
}
.title-bar a {
    background: url("../../images/title-bar-gloss.png") repeat-x scroll center top #3498db;
}
.title-bar a:hover {
    color: #ffffff;
}
.nav-container .slicknav_btn {
    background: none repeat scroll 0 0 #3498db;
}
.searchvideo {
    border: 5px solid #2d86c1;
}
.wp_link_pages a {
    background: none repeat scroll 0 0 #3498db;
}
.widget-item li a:hover {
    color: #3498db;
}
.tagcloud a {
    background: none repeat scroll 0 0 #3498db;
}
.tagcloud a:hover {
    color: #ffffff;
}
#s {
    background: url("../../images/search-blue.png") no-repeat scroll right center #eeeeee;
}
#searchsubmit {
    background: none repeat scroll 0 0 #3498db;
}
#comment-submit {
    background: none repeat scroll 0 0 #3498db;
}
#reply-title a {
    color: #3498db;
}
.comment-pagination a {
    background: none repeat scroll 0 0 #3498db;
}
ul.pagination li a {
    background: none repeat scroll 0 0 #3498db;
}
.blog-post .readmore {
    background: none repeat scroll 0 0 #3498db;
}
.footer-container a:hover {
    color: #3498db;
}
.footer-container .widget-item li a:hover {
    color: #3498db;
}
.footer-container .tagcloud a {
    background: none repeat scroll 0 0 #3498db;
}
.footer-container .tagcloud a:hover {
    color: #ffffff;
}
.footer-container .widget-popular .popular-details a:hover {
    color: #3498db;
}
.footer-container .comment-widget .comment-text a:hover {
    color: #3498db;
}
.nav-container {
    background: url("../../images/nav-gloss.png") repeat-x scroll center top #2375ac;
    box-shadow: 0 0 20px #156296;
}
.sf-menu ul {
    background: none repeat scroll 0 0 #3498db;
}
.sf-menu li:hover, .sf-menu li.sfHover {
    background: url("../../images/nav-gloss.png") repeat-x scroll center top #2389cd;
    color: #ffffff;
}
.sf-menu li a:hover {
    background: url("../../images/nav-gloss.png") repeat-x scroll center top #2389cd;
    color: #ffffff;
}
.sf-menu li.current a {
    background: url("../../images/nav-gloss.png") repeat-x scroll center top #2389cd;
    color: #ffffff;
}
.sf-menu li.current-menu-item a {
    background: url("../../images/nav-gloss.png") repeat-x scroll center top #2389cd;
    color: #ffffff;
}
.user-forms .user-submit {
    background: none repeat scroll 0 0 #3498db;
}
#all{
	background-color: #FFF;	
}