/*
Theme Name: Do It Yourself Nation
Theme URI: http://theme-titans.com
Description: VideoPress is a self-hosted video blogging theme with tons of features and options, it supports all known video types and any other 3rd party video that requires iframe like vimeo and youtube.
Version: 1.6
Author: Theme-Titans
Author URI: http://theme-titans.com
Tags: black, red, white, light, two-columns, right-sidebar
License: GNU General Public License, version 3 (GPLv3)
License URI: license.txt 
*/
#store{
    background: #f8f8f8 !important;
}
#store .cover-twoblocks{
     background: #f8f8f8 !important;
 }
#products{
   /*  background: #f8f8f8 !important;*/
}

#custom-post-type{padding:10px;}

#header-container .spacing-40 {height: 0px;}
#header-container .spacing-50 {height: 0px;}

.rights .slicknav_menu a:nth-child(1){ background-color: #FFAF34;}
.rights div{background-color:transparent;}
.rights li a:hover{background-color:transparent; text-decoration:none}
.rights ul li {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 13px;
    border-bottom: 0px solid #EEEEEE;
}
.rights{
	/*float: left;
    margin-top: -9px;
    margin-left: -16px;*/
	}
.left {
    float: left;
    margin-right: 3px;
}
.user-images img {
    border: solid 1px #FFAC2C;
    border-radius: 5px;
}
#rfbwp_fullscreen{background:rgba(237, 237, 237, 0.952941);} 
.user-images {
    display: inline-block;
    position: relative;
    margin-top: -4px;
}
.layout-title-box .bottom-detailsul li a.del-booksid {
    background: #C9302C;
    color: #fff;
    padding: 3px 14px;
    border-radius: 2px;
    display: block;
    line-height: normal;
    margin-top: 0px;
    text-transform: capitalize !important;
}
.search-social.padding-sec{padding-top: 15px !important;}
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #222222;
    background-color: transparent;
}
.slicknav_menu .slicknav_icon-bar {
    
    background-color: gold;
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    background-color: gold;
}
.displaynone{display:none;}
.sf-responsives{  
    float: left;
}

div.google-ads{margin-top:200px !important;margin-bottom:-145px !important}
ins{background:#fff !important}

/*
add a class for define the selected video on the playlist
*/
.selectedplaylist{
  background-color: #ffbfbf !important;	
}

.modal.in .modal-dialog { -moz-transform: none; }
.modal.fade .modal-dialog { -moz-transform: none; }

.custom_btn{  border-radius: 4px; display: inline-block; line-height: 19px;
text-align: center; height:34px !important;}
.custom_btn span{margin:0; line-height:23px; text-transform:capitalize; max-width: 10%;}
.home-page-scroller{width: 178px; float:left;}
.homepage-header{max-height: 377px;}
.homepage_video{height: 377px;}
.custom_btn{
    font-size: 1em;
    margin-left: 2px;
    margin-right: auto;
    }
.layout-2 .video_excerpt_text p{
	font-size: 16px;
}

.display-none {display:none;}
.search-social {
    margin-top: 15px;
    padding-bottom: 0;
}
.user-image { display: inline-block; position: relative; margin-top:-9px;}
.user-image img { border: solid 1px #FFAC2C; border-radius: 5px;}
.widget-user-profile{background:none; padding-top:0px;}
.widget-item{margin-bottom:0px; width:198px;position:relative;}
.right>button:hover .widget-profile-controls{display:block;}
.widget-profile-controls li{border-bottom:none;}
.widget-profile-controls li a:hover{color:#ffffff;}
.display-block{display:block;}
.tab a{padding: 8px 15px !important;}
ul .tab a:hover{color:white !important;}
ol, ul{margin-bottom:0px !important;}
.hide{display:none !important;}
.show{display:block !important;}
.centre-block{
	margin-right: auto;
	margin-left: auto;
	float: none;
}
.user .widget-item #login, .user .widget-item #signup{position:absolute;}

.widget-user-profile .avatar {
    float: left;
    margin-right: 0px;
    height: auto;
    width: 36px;
}

.endorse_black , .endorse_black:hover{
background:black;
color:#fff!important;
font-weight:normal!important;
display:inline-block;
text-decoration:none!important;
}


.endorse_green ,.endorse_green:hover{
background:#0F9D58;
font-weight:normal!important;
color:#fff!important;
display:inline-block;
text-decoration:none!important;
}

.favorite_black , .favorite_black:hover{
background:#FF8A8A;
font-weight:normal!important;
color:#fff!important;
display:inline-block;
text-decoration:none!important;
}

.favorite_green , .favorite_green:hover{
background:#0F9D58;
font-weight:normal!important;
color:#fff!important;
display:inline-block;
text-decoration:none!important;
}
div#endorse_wrapper , div#favorite_wrapper{
float:left;
}
/* .footer-container {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}
.main_wrapper {
    padding: 0 0 100px;
} */
.slicknav_nav {
    position: relative;
    z-index: 9999;
}

#copyright-text{ width:30%; padding-top:0;}
.footermiddle{ width:40%; float:left; text-align:center; }
#footer-logo{ width:30%; padding-top:0;}

.form-horizontals{ margin:0 -15px;}
#intv_del.form-horizontals{ margin:0;}

.form-horizontals{  clear:both;}
.col-sm-full .form-group{  clear:both;}
.col-sm-full{  clear:both;}
.form-horizontals .col-sm-full h3{  clear:both;}
.form-horizontals.form-horizontalstwo{ float:none; width:auto; clear:both;}
#int_vid,#bgfile{ font-size: 12px; border:1px solid #b3b3b3; border-radius:5px; padding:5px; width:230px;}
.form-horizontals .control-label.label-class{ text-align:left;}
/* .form-horizontals.form-horizontalstwo .control-label.label-class{ width:26%;} */
.form-horizontals .control-label.label-class{ width:30%;}
.form-horizontals .col-md-2.sm-2-block {padding:0 11px 0 10px;width: auto; margin:0 0 0 -3px;}
.col-sm-full .col-md-4{ width:47%;}
.col-sm-full .form-horizontal{ display:inline-block; vertical-align:top;}
.col-sm-full #intv_del{ display:inline-block; vertical-align:top;}
.form-horizontals   .tmesutker-clsahss{ width:38%;}
.form-horizontals.form-horizontalsthree .tmesutker-clsahss{ width:39%;}
.footer-container {z-index: 999999999;}
.form-horizontals .form-group{ float:left; width:100%;}
.form-horizontals #bg_image_errors{ color:#ff0000; font-weight:600; font-size:10px; padding:5px 0 0;}

.right-colsm{width:30%;}
.user-profile{ position:relative;}
.user-profile #cover_click{ top:20px!important; right:25px!important; left:auto;}
.custom_btn_style{background-color: #3498DB!important;border-color: #3498DB!important;}
.col-md-12.col-sm-full > h3 {
    /* border-bottom: 1px solid #d7d7d7; */
    margin-bottom: 12px;
    padding-bottom: 10px;
}
.tab-content.login ,
.tab-content.signup {
    position: relative;
    z-index: 9999;
}
.grid-3-4-sidebar.single-page {
    background: #fff;
}
/* .grid-3-4.centre-block.author-container{max-width:890px; width:100%;} */
.cover-twoblocks{ float: left; width: 100%; padding-left: 20px;	}
.cover-twoblocks .sortvideo-div{ float:left; width:50%; padding:3px 15px;}
.cover-twoblocks .well.well-sm{ float:right; width:50%;  background:transparent; border:0; padding:0px 15px; margin:0; text-align:right;}
.list-group{ clear:both; float:left; width:100%;}
#videos .grid-group-item, #new_files .grid-group-item, #new_books .grid-group-item{padding-right:8px; padding-left:8px;min-height: 225px;}
#videos .grid-group-item .layout-2-wrapper, #new_files .grid-group-item .layout-2-wrapper, #new_books .grid-group-item .layout-2-wrapper,  #products .grid-group-item .layout-2-wrapper {box-shadow: 0 0 10px 1px #666; border-radius:5px;}
#videos .grid-group-item.list-group-item.changeStyleList .layout-2-wrapper, #new_files .grid-group-item.list-group-item.changeStyleList .layout-2-wrapper, #new_books .grid-group-item.list-group-item.changeStyleList .layout-2-wrapper,  #products .grid-group-item.list-group-item .layout-2-wrapper{box-shadow:none; border-radius:0px;}
.playlist-inner div[id*="play-"]{box-shadow: 0 0 10px 1px #666; border-radius:5px; margin-top:8px;}
.playlist-inner div[id*="play-"] > div {padding:5px;}
.list-group .item.grid-group-item .thumbnail, .list-group .item .thumbnail{ /* min-height:265px; */}
#videos .list-group .item.grid-group-item .thumbnail, .list-group .item .thumbnail{ min-height:181px; padding:4px;}
#videos .list-group .item.list-group-item .thumbnail, #new_books .list-group .bookitem.list-group-item .thumbnail{ min-height:0;}
#videos .list-group .layout-title{ /* margin-bottom:25px; */ min-height:32px;}
#videos .list-group .layout-title a{color:#000; font-size:14px; text-transform:capitalize;}
#videos .list-group .list-group-item .layout-title, #new_books .list-group .bookitem.list-group-item .layout-title{ margin-bottom:8px;}
#videos .list-group .list-group-item .video_excerpt_text{margin-top:10px;}
.list-group .item.list-group-item .thumbnail, .list-group .item .list-group-item .thumbnail{ min-height:0;}
#new_files .list-group .item .thumbnail, #new_files .list-group .item.grid-group-item .thumbnail,#new_books .list-group .item .thumbnail, #new_books .list-group .item.grid-group-item .thumbnail{ min-height:217px; padding:4px;}
#new_files .list-group .item.list-group-item .thumbnail, #new_files .list-group .item.list-group-item .thumbnail,
#new_books .list-group .bookitem.list-group-item .thumbnail{ min-height:0;}
.list-group-item .grid-6.first .layout-title-box{ display:none!important;}
.list-group-item .layout-2-details{ display:block!important;}
div.layout-title-box .layout-title{text-align: center;}
  
#new_files .list-group .item.grid-group-item .thumbnail, .list-group .item .thumbnail{ min-height:217px; padding:4px ;}
#new_files .list-group .item.list-group-item .thumbnail{ min-height:0;}
#new_files .list-group .layout-title{ margin-bottom:10px; min-height:32px;}
#new_files .list-group .layout-title a{color:#000; font-size:14px; text-transform:capitalize;}
#new_files .image-holder, #new_books .image-holder{text-align:center;}
#new_files .list-group .modal-body .layout-title a, .list-group .modal-body .layout-title a{  color: #000; font-size: 24px;font-weight: 600; text-transform: capitalize;}
#new_files .list-group .item,
#new_files .list-group .item.grid-group-item{width:20%;}
#new_files .list-group .item.list-group-item,
#videos .list-group .item.list-group-item,
#new_books .list-group .bookitem.list-group-item,
#favoriteinf #favoriteVideos .list-group .item.list-group-item,
#favoriteinf #favoriteFiles .list-group .item.list-group-item,
#favoriteinf #favoriteBooks .list-group .item.list-group-item{ width:100%;}
.bottom-detailsul li p{ line-height:normal; font-size:11px;}
.bottom-detailsul li .del-video{ display:inline-block; padding:0 3px; line-height:normal;}
.bottom-detailsul li .privacy-video{ display:inline-block; padding:0 3px; line-height:normal;}
.bottom-detailsul li{ display:block; padding:2px 3px; vertical-align:middle; text-align:center;}
.bottom-detailsul li a.del-booksid{   background: #C9302C;
    color: #fff;
    padding: 3px 14px;
    border-radius: 2px;
    display: block;
    line-height: normal;
    margin-top: 0px;
    text-transform: capitalize !important;}
.detailsblock-btn{ background:#3498db; color:#fff; padding:3px 14px; border-radius:2px; display:block; line-height:normal; }
.changesettingsblock-btn{ background:#3498db; color:#fff; padding:3px 14px; border-radius:2px; display:block; line-height:normal; }
.changesettingsblock-btn2{ background:#3498db; color:#fff; padding:3px 14px; border-radius:2px; display:block; line-height:normal; width: 27% !important;}
.del-video{display:inline-block; margin-top:10px; background:#C9302C; color:#fff; padding:4px 14px; border-radius:2px;  line-height:normal; text-transform:capitalize !important; font-size:14px; font-weight:normal; line-height:20px;}
.privacy-video{display:inline-block; margin-top:10px; background:#3498db; color:#fff; padding:4px 14px; border-radius:2px;  line-height:normal; text-transform:capitalize !important; font-size:14px; font-weight:normal; line-height:23px;}
.del-video:hover, .del-video:active, .del-video:focus{color:#fff; text-decoration:none !important;}
.privacy-video:hover, .privacy-video:active, .privacy-video:focus{color:#fff; text-decoration:none !important;}
.grid-group-item .bottom-detailsul li .del-video{background:#C9302C; color:#fff; padding:3px 14px; border-radius:2px; display:block; line-height:normal; margin-top:0px;  text-transform:capitalize !important;}
.grid-group-item .bottom-detailsul li .del-video i, .del-video i{font-size:17px; margin-right:5px;}
.grid-group-item .detailsblock-btn i{margin-right:5px;}
.grid-group-item .changesettingsblock-btn i{margin-right:5px;}
.grid-group-item .changesettingsblock-btn2 i{margin-right:5px;}
.detailsblock-btn:hover{ background:#21648f; color:#fff; text-decoration:none!important;}
.changesettingsblock-btn:hover{ background:#21648f; color:#fff; text-decoration:none!important;}
.changesettingsblock-btn2:hover{ background:#21648f; color:#fff; text-decoration:none!important;}
.list-group .layout-2-wrapper .grid-6{ width:100%; margin-right:0; word-wrap:break-word;}
.list-group .list-group-item .layout-2-wrapper .grid-6{ width:130px; margin-right:15px;}
#videos .list-group .modal-body  .layout-title{ margin-bottom:10px;}
#videos .list-group .modal-body .layout-title a, .list-group .modal-body .layout-title a{color: #000; font-size: 24px; font-weight: 600; text-transform: capitalize;}
/* .video_excerpt_text { border: 1px solid #ddd; margin-bottom: 10px; padding: 8px 10px;} */


.video_excerpt_text.one{margin-top:10px;}
.video_excerpt_text h4{margin-top:0px; font-size:15px;}
.modal-body .layout-2 .video_excerpt_text p{font-size:15px; color: #888888;}
.video_excerpt_text #option-social a{color:#888888; display:inline-block; padding:0 10px; font-size:18px;}
.modal-body .del-video{margin-top:20px; background: #C9302C ;border-radius: 4px; color: #fff; display: inline-block; font-weight: 600; margin-top: 20px; padding: 5px 21px; text-transform: capitalize;}
.grid-group-item .image-holder, .list-group-item .image-holder{width:100%; height:140px;}

#new_files .list-group-item .image-holder{width:140px; display:block; margin:0 auto;}

.modal-body .grid-group-item .image-holder, .modal-body .list-group-item .image-holder{width:125px; height:140px;}
/*.modal-body .image-holder{margin:0 auto; display:block; width:138px; height:140px;}*/
.modal-body .image-holder{margin:0 auto; display:block; width:100%; height:auto;}
/*#videos .modal-body .image-holder{ width:250px;}*/
#docs .modal-body .image-holder{margin:0 auto; display:block; width:138px; height:140px;}
.nav > li > a{	padding: 10px;}
/*.grid-group-item:nth-child(5n+6){clear:left;}*/
.modal-body .grid-group-item .image-holder, .modal-body .list-group-item .image-holder{height:auto;}
.video_excerpt_text { clear: both; }
.modal-body .filemodel .image-holder {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 140px !important;
}

.video_excerpt_text { border:0; margin:0 0 4px; padding:0;}
.video_excerpt_text .tittle-h4{ display:inline; padding:0 15px 0 0; word-wrap:break-word; position:relative}
.video_excerpt_text .tittle-h4:after{ content:":"; padding:0 0px 0 5px; position:absolute; right:10px; top:50%; margin:-9px 0 0;}
.inline-blockright{ display:inline; vertical-align:top;}
#videos .grid-group-item .image-holder{ height:auto; margin-top: 10px;}
#videos .item.list-group-item .image-holder img{float:none;}

.modal-body ul.stats li{ background:#e7e7e7; margin:0 10px 10px 0; padding:5px 15px; color:#212121;}
.modal-body ul.stats li:last-child{ margin-right:0;}
#new_files .layout-2 .hover-item{height:100%;}

#new_files .list-group .modal-body .layout-title, #videos .list-group .modal-body .layout-title{ min-height:0;}
.layout-2 #new_files .list-group .modal-body .hover-item, .layout-2 #videos .list-group .modal-body .hover-item{ height:100%;}

.layout-2 #new_files .list-group .layout-title, .layout-2 #videos .list-group .layout-title{ /* white-space:nowrap; */ }
.layout-2 #new_files .list-group .list-group-item .layout-title, .layout-2 #videos .list-group .list-group-item .layout-title{ white-space:normal;}
.layout-2 #new_files .list-group .modal-body .layout-title, .layout-2 #videos .list-group .modal-body .layout-title{ white-space:normal;}

.modal-box {
  display: none;
  z-index: 9999999991;
  background: rgba(0, 0, 0, 0.3) !important;
  left:0px!important;
  margin:0!important;
  top:0px!important;
  position:fixed;
  width:102%!important;
  height:100%!important;
  overflow-y:scroll;

  
}
.modal-box .modal-body{ width:95%!important; max-width:500px!important; border-bottom:1px solid #aaa; border-radius:4px; box-shadow:0 3px 9px rgba(0, 0, 0, 0.5); border:1px solid rgba(0, 0, 0, 0.1); background:#fff; margin:30px auto;;}


.modal-box .modal-body { padding: 2em 1.5em; }

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 1%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
  opacity:1.00;
  z-index:5;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}
.modal-box .modal-body .layout-2-details{margin-left:0;}

.home .saic-wrapper {display:none;}




.newbuttons a {
    background: #3498db none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    margin-left: 15px;
    padding: 5px 8px;
	outline:none;
	border:none;
}
.newbuttons {
    float: right;
    padding: 8px 0;
    width: auto;
}
.width50{width:auto; margin: 13px 0; line height:normal;}

.full-width {
    text-align: center;
}
.sf-menu {
    display: inline-flex;
}
.group-search-grid{
display: block;
margin-bottom: 24px;
background-color: #F6F6F6;
/*FA removed
width: 161px;
margin: 7px;
padding-left: 10px;
padding-bottom: 20px;
*/
padding: 5px 5px 20px 5px !important;  
margin:0px !important; 
height:300px;
}
.group-search-grid .layout-2-wrapper{
    height: 100%!important;
     width: 100% !important;
     box-shadow: 0 0 10px 1px #666;
     border-radius: 5px;
     padding: 5px;
  }
   .group-search-grid .grid-6{ 
    float:none !important;
    width: 150px;
    margin-left:auto;
    margin-right:auto;
}
  .group-search-grid .image-holder {
    min-height: 140px; 
    width: 100% !important;
    text-align:center;
  }
 .group-search-grid .layout-2-details {
    display: block;
  }
  .group-search-grid .layout-title{ 
    max-width: 100%;
    word-wrap:break-word;
    height:40px;
}

/* Profile css */
.newclassAmt
        {
            margin-left: 0px;
        }
        .newclass
        {
            margin-left: 65px;
        }
        .newclass2
        {
            margin-left: 0px;
        }
        .newclasspaypalBox
        {
            margin-left: 8px;
        }
        .newclassmsgBox
        {
            margin-left: 0px;
        }
        #ui-datepicker-div{
            width: 240px !important;
        }
        .ui-datepicker-header .ui-datepicker-prev, .ui-datepicker-header .ui-datepicker-next{
            display: none;
        }
        .futurestreamings ul.channel-detail{
            padding: 10px 20px;
            font-size: 16px;
        }
        .futurestreamings ul.channel-detail li p{
            font-size: 15px;
        }
        .futurestreamings ul.channel-detail li{
            list-style: none;
            line-height: 25px;
        }
        .futurestreamings ul.channel-detail li span{
            padding-left: 10px;
        }
        .opener .img-arrow{
            position:absolute; 
            left:150px; 
            bottom:-33px
        }
        .opener .arrow{
            padding: 10px; 
            padding-top: 0px; 
            -webkit-transform: rotate(180deg); 
            -webkit-transform-origin: 0 0; 
        }

        @-moz-document url-prefix() {
            .opener .arrow{
                padding: 20px 0px; 
                -webkit-transform: rotate(180deg); 
                -webkit-transform-origin: 0 0; 
                margin-left: 55%;
                behavior:url(-ms-transform.htc);
                /* Firefox */
                -moz-transform:rotate(180deg);
                margin-top: -50px;
            }           
            .opener .img-arrow{
                left:70px; 
                bottom:-20px;
            }
        }
  
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
   // background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.item2.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item2.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item2.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item2.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item2.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item2.list-group-item:before, .item2.list-group-item:after
{
    display: table;
    content: " ";
}
.item2.list-group-item img
{
    float: left;
}
.item2.list-group-item:after
{
    clear: both;
}
ul.pagination{
    clear: both;
    width: 100%;
}
.clear_view_type{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.clear_view_right_type{
    padding-right: 0 !important;
}
.list-group-item{
    padding: 0 !important;
}
.avtarimg .avatar{width:150px;height:150px;}
/* End profile css */


#new_files .list-group .modal-body .layout-title a, .list-group .modal-body .layout-title a{  color: #000; font-size: 24px;font-weight: 600; text-transform: capitalize;}
#new_files .list-group .item2.list-group-item, #videos .list-group .item.list-group-item{ width:100%;} 
/* Nhi did */
#new_files .list-group .grid-group-item:nth-child(5n+6),
#videos .grid-group-item:nth-child(5n+6),
#new_books .list-group .grid-group-item:nth-child(5n+6){
    clear: none;
} 
#videos, #new_files, #new_books{
    padding-left: 30px;
}
#new_files .list-group .grid-group-item, 
#videos .list-group .grid-group-item, 
#new_books .list-group .grid-group-item{
    padding: 5px 5px 20px 5px;
    margin: 0px !important;
    height: 330px;
}
#new_files .list-group .grid-group-item .thumbnail, 
#videos .list-group .grid-group-item .thumbnail,
#new_books .list-group .grid-group-item .thumbnail{
    height: 100%;
    width: 100% !important;
}
#videos .list-group .grid-group-item img.layout-2-thumb{
    height: 140px;
}
#videos .list-group .grid-group-item .layout-title,
#new_files .list-group .grid-group-item .layout-title,
#new_books .list-group .grid-group-item .layout-title{
    min-height: 45px;
}
#new_files .list-group .grid-group-item .image-holder{
    max-width: 100% !important;
    min-height: 140px;
}
#new_files .list-group .grid-group-item .dyn-file-sprite{
    background-position: center;
}

#new_files .list-group .grid-group-item .dyn-jpg,
#new_files .list-group .grid-group-item .dyn-ppt,
#new_files .list-group .grid-group-item .dyn-txt,
#new_files .list-group .grid-group-item .dyn-png{    
    background-repeat: no-repeat;
}
#videos .list-group-item .image-holder{
    width: 100%;
}
#videos .list-group .list-group-item .layout-2-wrapper .grid-6{
    min-width: 200px;
}
#videos .list-group .list-group-item{
    min-height: 206px;
}
#new_books .list-group-item .image-holder{
    width: 25%;
    float: left;
}
#new_books .list-group-item .layout-title-box{
    float: right;
    width: 73%;
}
#new_books .list-group-item .layout-title-box .layout-title{
    text-align: left;
}
#new_books .list-group-item .bottom-detailsul li{
    width: 20%;
    padding: 10px 3px;
    float: left;
}
#new_books .list-group-item .layout-2-details{
    text-align: left;
    margin-left: 0;
}
#new_books .changeStyleList{
    height: 200px !important;
}
#new_books .changeStyleList .layout-title{
    font-weight: bold;
}
.changeStyleList{
    height:200px !important;
}
.changeStyleGrid{
    min-height:225px !important;
}
#new_books .empty-book{
    margin-top: 10%;
    text-align: Center;
    padding: 10px 4px;
    background: #ccc;
    width: 98%;
    margin-left: 22px;
    font-weight: 400;
}
/* .oio-banner-zone-container{
	height: 0 !important;
} */

.elite_vp_popup{ width:100%; max-width:555px; height:90px; overflow:hidden; margin-left:-278px!important; left:50%!important; background:rgba(117,117,117,0.40);}
.elite_vp_popup img{ max-width:100%; height:100%; width:100%;}


img{
	word-wrap: break-word;
}
.subscribers-inner-form {
    display: inline;
}

.sidebar-chat-com{width: 500px;}


#elite_vp_overlayPoster{
	margin-top: 0 !important;
    width: 100%;
    height: 100%;
}

video {
    object-fit: fill;
}
/* Secure css */

.feed_details + p {
  padding: 0 15px !important;
}

#header-container .no-padding {
  padding: 0 15px;
}

#header-container {
  padding: 10px 15px;
 /* max-width: 1082px;*/
  /*width: 80% !important;*/
}
.nav-container .full-width {
    width: 100%;
    margin: 0 auto;
   /* max-width: 1360px;*/
}

#header-container .rights {
  float: right;
  position:relative;
}

#header-container{
 overflow:visible;
}

#header-container ul.slicknav_nav {
  position: absolute;
  right: 0;
  top: 64px;
  width: 152px;
}

.flag_post.custom_btn {
    margin: 0;
}

.logged-in #header-container .widget-item {
  float: right;
  /*width: 118px;*/
  width: auto;
}
.user .widget-item  .tab-menu li{border-bottom:1px solid #eeeeee !important}

.imgbox {
  padding: 8px;
  text-align: center;
}

.imgbox img {
  max-width: 100% !important;
  width: auto !important;
}






.collaboration header h3 {
  font-size: 22px !important;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0 !important;
  text-transform: uppercase;
}
	
.collaboration .add_collaboration_form span {display:block; margin-bottom:10px; font-weight:700;}
.collaboration{position:relative;}
.collaboration .close{position:absolute!important; font-size:25px!important; color:#000!important;}
.collaboration .close:hover{text-decoration:none!important; }
.collaboration .collaboration_msg{resize:none; height:110px; border:1px solid #ccc; padding:12px; border-radius:5px;}
#home .user-info .btn-success {
  display: block;
  font-size: 16px;
  font-weight: 600;
    max-width: 530px;
  padding:8px 15px !important;
  text-decoration:none;
  text-transform: uppercase;
  white-space: normal;
  width: 100%;
}
#home  .user-info{ margin-bottom: 30px;}
#home  .user-info .btn-success{text-decoration:none!important;}
#home  #susription-submit {margin-bottom:25px;}
#home .subscribers-inner-form h4{margin-top:0; font-size:16px;}
#home .background_uploader{ /* border-bottom:1px solid #d7d7d7; *//* padding-left:0!important; padding-right:0!important; */}
/* #home  .user-info{max-width:40%!important; width:100%; float:left;}
#home  .background_uploader{max-width:60%!important; width:100%; float:left;} */

#home:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
#home .user-info{padding-top:30px; position:relative!important;}
#home .user-info .top_notif{position:absolute; top:0; left:0;}
#home .user-info form, #home .user-info .js-open-modal{float:left;}
#home .user-info form{margin-right:20px;}
.collaboration form{float:none!important;}
.collaboration .collaboration_type{padding: 5px 6px;
border: 1px solid #ccc;
border-radius: 3px;
height: 35px;}
#collaboration h4, #friends h4, #notifications h4, #subscribers h4{font-size:19px; margin-top:0; margin-bottom:10px; text-transform:uppercase;} 
#friends h4 small{color:#5cb85c!important; font-size:14px;}
#friends .live-stream-block, #collaboration .live-stream-block,  #subscribers .live-stream-block{margin:0!important; padding:15px; text-align:center; border:2px solid #cccccc!important; max-width:200px!important; width:100%!important;}
#friends .live-stream-block a, #collaboration .live-stream-block a, #subscribers .live-stream-block a{margin:0 0 10px 0!important;}
#friends a img{/* box-shadow:none!important; */}
#friends a {color:#000;
display:block;
font-weight:700;
margin:25px 25px 0;
text-decoration:none!important;}
#friends .btn-success{font-weight:700;}
#friends > div{margin-bottom:33px;}
#subscribers > div{margin-bottom:33px;}
#notifications p{font-size:16px;}
#notifications p small a{font-weight:700; color:#5cb85c!important; text-decoration:none!important;}
#notifications h4{margin-bottom:20px!important;}
.background_uploader h3, .col-sm-full h3{margin-top:0!important;}
#collaboration a{display:block;}
#collaboration .user_tile{font-weight:600; font-size:15px; text-decoration:none!important;}

#collaboration .btn-success {display: inline-block !important;
font-size: 14px;
font-weight: 600;
margin: 0 4px;
padding: 4px 8px; text-decoration:none!important;}
#collaboration .buton_anchor{text-decoration:none!important;}

.user_name {
  background:#ff0000 none repeat scroll 0 0;
  border-radius:6px;
  color:#fff!important;
  display:block!important;
  font-size:17px;
  font-weight:600;
  line-height:normal!important;
  padding:2px 5px 4px;
  text-decoration:none !important;
}
#collaboration .background_uploader .right-colsm{padding-top:30px!important;}
#collaboration  .label-class input{padding:8px!important;}
#collaboration  .label-class label{margin-right:10px;}
#collaboration  .tmesutker-clsahss input{width:100%!important;}
#collaboration  .tmesutker-clsahss label{font-size:13px;}
.user_img img{box-shadow:0 0 10px 1px #666!important; border-radius:5px!important;}
.background_uploader  .col-sm-full:after, .top_title:after, .thumb_cnt:after, .video_thmb:after, .video_main_section:after, .file_main_section:after, .book_main_section:after {
  content: " ";
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
}
#collaboration > div {margin-bottom:40px!important;}
#collaboration h4 {margin-bottom:25px!important;}
.single-collaboration .centre-block{padding:25px 15px!important; background:rgb(248, 248, 248) !important;}
.single-collaboration .single-page h4{font-size: 22px; font-weight: 700;  text-transform: uppercase; margin-bottom:35px; margin-top:0;}
.single-collaboration .top_title h4{display:inline-block; width:auto!important; float:left; margin:0!important;}
.single-collaboration .top_title .btn{display:inline-block; width:auto!important; float:right; font-size:16px;
font-weight: 600;
text-transform: uppercase;}
.single-collaboration  .iner_title{clear:both;}
.single-collaboration .top_title {margin-bottom:40px;}
.single-collaboration .thumb_cnt .iner_title, .single-collaboration .thumb_cnt .cover-twoblocks{max-width:50%; width:100%; float:left;}
.single-collaboration .iner_title label{font-weight:700; display: block !important;
    font-size: 15px !important;
    text-transform: uppercase;margin-bottom:15px;}
.single-collaboration .iner_title .js-open-modal{float:none!important; margin-bottom:20px;
font-size: 15px;
font-weight: 600;
text-decoration: none !important;
text-transform: uppercase;}
.thumb_cnt .cover-twoblocks .well.well-sm{box-shadow:none!important; width:100%!important; float:none!important; padding:0!important;} 

.video_main_section, .file_main_section, .book_main_section{margin-bottom:40px;}
.video_main_section #favoriteVideos  #products{margin-bottom:0!important;}
.video_main_section, .file_main_section{padding-bottom:40px; border-bottom:1px solid #ccc;}
.video_main_section #favoriteVideos  #products .thumbnail{margin-bottom:0!important;}
.single-collaboration  #collaboration_share_box_action h6{display: block !important;
font-size: 17px !important;
font-weight: 700;
margin-bottom: 15px;
text-transform: uppercase; margin-top:0!important;}
.single-collaboration #collaboration_share_box_action .select-box span{display: block;
font-size: 15px;
font-weight: 600;
margin-bottom:10px !important;}
#collaboration_share_box_action .tokenize-sample{height: 140px;
margin-bottom: 20px;
max-width: 450px !important;
width: 100%;}
#collaboration_share_box_action .tokenize-sample .TokensContainer{height:100%!important;}
.single-collaboration  #collaboration_share_box_action{margin-bottom:30px;}
.single-collaboration  #collaboration_share_box_action .collaboration_share_request{float: none !important;
font-size: 15px;
font-weight: 600;
text-decoration: none !important;
text-transform: uppercase;}
.single-collaboration .modal-body.collaboration{width:100%!important; max-width:70%!important;}
.single-collaboration br{display:none!important;}
.single-collaboration .modal-box label{ font-weight: 600!important; margin-bottom:8px!important;}
.modal-body.collaboration  .popform  .top_pop input, .modal-body.collaboration  .popform  .top_pop  textarea{max-width:100%!important; width:100%!important; margin-bottom:20px!important;  margin-top:0px!important; padding:10px; resize:none;}
.modal-body.collaboration  .popform  .top_pop input{height:35px!important;}
.modal-body.collaboration  .popform  .top_pop  textarea{height:100px!important;}
.modal-body.collaboration  .popform  .top_pop  #file{height:auto!important;}
.modal-body.collaboration  .form_bottom .radio_head{font-size: 18px !important;
font-weight: 700 !important;
margin-bottom: 11px !important;
text-transform: uppercase;}
.form_bottom .checkbox  label{text-transform:none!important; display:block!important; padding-left:0!important; margin-bottom:0!important;}
.form_bottom .checkbox  label input{margin-right:7px!important;}
.modal-body.collaboration .publish_cnt{clear:both;}
.modal-body.collaboration .publish_cnt #submit{ background-color: #5cb85c;
border: medium none;
border-radius: 4px;
color: #fff;
font-size: 16px;
font-weight: 600;
padding: 8px 15px;
text-transform: uppercase;
width: auto !important;}
.modal-body.collaboration .publish_cnt #submit:hover, .modal-body.collaboration .publish_cnt #submit:focus, .modal-body.collaboration .publish_cnt #submit:active{background-color: #449d44; border-color: #398439; color: #fff;}
.modal-body.collaboration  .dyn-click-upload{text-align:left!important;}
.modal-body.collaboration  .dyn-select-tags{width:100%!important; display:block; height:35px!important; padding:10px!important; border-radius:5px!important; border:1px solid #ccc!important;}

/* RESPONSIVE */

@media (min-width: 32em) {
.modal-box { width: 70%; }
}
@media only screen and (max-width: 380px) {
.footermiddle a{ font-size:11px;}
.background_uploader h3{font-size:22px;}
#collaboration h4, #friends h4, #notifications h4{font-size: 15px!important;}
}
@media only screen and(max-width:440px){
.social_media_icons{padding: 4px 0 !important;position: static;}
.social_media_icons{position: absolute;right: 15px;}
#header-container .user .widget-item{right:0; top:99px;}
.logged-in #header-container .widget-item {top:116px;}
.background_uploader h3{font-size:22px!important;}
}

@media only screen and (max-width: 480px){
.list-group .list-group-item .layout-2-wrapper .grid-6{margin:0 auto; float:none;}
.single-collaboration .thumb_cnt .iner_title, .single-collaboration .thumb_cnt .cover-twoblocks{max-width:100%!important; padding-left:0!important;}
.cover-twoblocks .sortvideo-div, .cover-twoblocks .well.well-sm{text-align:left!important; margin-bottom:10px!important;}

}
@media screen and (min-width: 350px) and (max-width: 767px){
	.col-xs-12 {
    width: 50%;
    }
}
@media screen and (min-width: 320px) and (max-width: 670px){
.elite_vp_popup {
	bottom: 51px!important;  
    left: auto!important;
    margin: 0!important;
    max-width: 80%;
    right: 40px;
    height: 55px!important;
	}		
}

@media only screen and( max-width:670px){
.elite_vp_popup{bottom:51px!important; height:27px!important; left:auto!important; margin:0!important; max-width:35%; right:0;}
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
#new_files .list-group .item .thumbnail .group.col-xs-4{ width:33.3333%;}
#new_files .list-group .item .thumbnail .group.col-xs-8{ width:66.6667%; padding-right:0!important;}
#videos .list-group .item .thumbnail .group.col-xs-6{ width:50%;}
   #videos .list-group .item .thumbnail .group.col-xs-6.clear_view_right_type{ padding-right:0!important;}
.cover-twoblocks .sortvideo-div, .cover-twoblocks .well.well-sm{ width:50%;}
.cover-twoblocks .sortvideo-div{ text-align:left;}#new_files .list-group .item .thumbnail, #new_files .list-group .item.grid-group-item .thumbnail{ min-height:275px;}
	#new_files .list-group .item.list-group-item .thumbnail{ min-height:0;}
.cover-twoblocks .well.well-sm{ text-align:right;}
#new_files .list-group .item, #new_files .list-group .item.grid-group-item, #videos .list-group .item, #new_files .list-group .item.grid-group-item{ width:50%;}
#new_files .list-group .item.list-group-item, #videos .list-group .item.list-group-item{ width:100%;}
#videos .list-group .item.grid-group-item .thumbnail, .list-group .item .thumbnail{ min-height:275px;}
#videos .list-group .item.list-group-item .thumbnail{ min-height:0;}
}
@media only screen and (max-width: 767px){
/* .form-horizontals.form-horizontalstwo .control-label.label-class{ width:100%;} */
.form-horizontals .control-label.label-class{ width:100%;}
.form-horizontals.form-horizontalsthree .tmesutker-clsahss{ width:100%;}
#copyright-text, .footermiddle, #footer-logo{ width:100%; text-align:center; padding:10px 10px;}
.form-horizontals  .label-class{ width:100%; text-align:left!important; font-size:13px;}
.form-horizontals  .col-md-3{ text-align:left!important;}
.form-horizontals   .tmesutker-clsahss{ width:100%; padding-bottom:10px;}
.form-horizontals  #bg_image_errors{ text-align:left!important; padding:0 15px;}
#int_vid,#bgfile{ margin:14px 0 0px; width:100%;}
.form-horizontals .col-md-2.sm-2-block{ /* float:left; */ padding-bottom:10px; padding-left:18px;}	
.right-colsm{width:100%;}
.form-horizontals.form-horizontalsthree .tmesutker-clsahss{ width:100%;}
#new_files .list-group .item, #new_files .list-group .item.grid-group-item{ width:100%;}
#new_files .list-group .item .thumbnail .group{ width:100%;}
.cover-twoblocks .sortvideo-div, .cover-twoblocks .well.well-sm{ width:100%; text-align:center; padding:8px 15px;}
#videos .list-group .item, #videos .list-group .item.grid-group-item{ width:100%;}
#videos .list-group .item .thumbnail .group.col-xs-6{ width:100%;}
.list-group .item.grid-group-item .thumbnail, .list-group .item .thumbnail, #new_files .list-group .item .thumbnail, #new_files .list-group .item.grid-group-item .thumbnail{ min-height:0;}	
#new_files .list-group .item .thumbnail .group.col-xs-8{ padding-right:15px!important;}
#videos .list-group .item .thumbnail .group.col-xs-6.clear_view_right_type{ padding-right:15px!important;}
#new_files .list-group .item, #new_files .list-group .item.grid-group-item, #videos .list-group .item, #new_files .list-group .item.grid-group-item{width:100%;}
#new_files .list-group .item.list-group-item .thumbnail{min-height:0;}
#videos .list-group .item.grid-group-item .thumbnail, .list-group .item .thumbnail{min-height:0;}
#videos .list-group .item.list-group-item .thumbnail{ min-height:0;}
.grid-group-item .image-holder, .list-group-item .image-holder{height:128px; width:128px; margin:0 auto; display:block;}
.video_excerpt_text .tittle-h4{font-size:14px;}
.width50{float:none;}
.newbuttons{float:none !important;}
.newbuttons a:first-child{margin-left:0;}	
.main_feed {margin-bottom:20px;}
#header-container .user .widget-item{right:15px; top:99px; width:auto;}
.b_donate.tec{text-align:left;}
.logged-in #header-container .widget-item {top:32px;}
.logged-in  #header-container .rights{margin-left:0px;float: left;}
.user .tab a{padding:5px 3px!important;}
.search-social.padding-sec{padding-top:0!important;}
.user-images{margin-top:-7px;}
.background_uploader, .background_uploader h3, .col-sm-full{padding:0!important;}
.col-sm-full h3{padding-left:0!important; padding-bottom:0!important; margin-bottom:10!important;}
.background_uploader .form-group, .col-sm-full{margin-bottom:50px!important;}
.background_uploader .col-sm-full .sm-2-block{float:none!important;}
#friends .live-stream-block, #collaboration .live-stream-block, .view_collaboration_class{max-width:200px !important; min-width:200px!important;}
.view_collaboration_class{border:2px solid #cccccc !important}
#collaboration .label-class{margin-bottom:20px!important;}
#collaboration .tmesutker-clsahss{margin-bottom:20px!important; padding-bottom:0!important;}
#collaboration .background_uploader .right-colsm{padding-top:0px!important;}
#collaboration > div {margin-bottom:40px!important;}
#collaboration .label-class lable{display:block!important;}
#collaboration .label-class input{display:block!important; width:100%;}
.video_main_section #products .grid-group-item{max-width:200px!important; width:100%!important;}
}

@media only screen and (max-width: 768px) {
.footer-container {bottom:0; left:0; /* position:fixed; */ width:100%;}
.main_wrapper {/* padding:0 0 100px; */}
.live-stream-block{width:50%;}
.arrow{text-align: right; padding: 0px 20px !important;}
.container , #header-container{
width:100% !important;}
#header-container .row{
  width:auto;
}

.detail > ul {
  text-align: center;
}
.detail ul li {
  font-size: 12px;
  width: 110px !important;
}

#header-container .col-md-12 > .col-xs-12 {
  margin-bottom: 10px;
  text-align: left;
  width: 50%;
}

#header-container .widget-item {
  position: absolute;
  right: 0;
  top: 29px;
  width: 100px;
}

#header-container .slicknav_btn {
  margin: 9px 0 0 !important;
 /* padding: 0 !important;*/
}

#header-container ul.slicknav_nav{
  top:52px;
}

#header-container .col-md-10 > .col-xs-12 {padding: 0;
}

#header-container input.searchvideo {height: 32px; border-radius: 2px; margin-bottom:7px;
}

#header-container .col-md-10 > .col-md-3 { 
position: static;
}

.social_media_icons {position: absolute;top: 22px; right: 120px;}
}

@media only screen and (min-width: 768px) and (max-width: 845px) {
#copyright-text{ font-size:13px;}
.footermiddle a{ font-size:13px;}	
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
/* .form-horizontals.form-horizontalstwo .control-label.label-class{ width:100%;} */
.form-horizontals .control-label.label-class{ width:100%;}
.form-horizontals  .label-class{ width:100%; text-align:left!important;}
.form-horizontals  .col-md-3{ text-align:left!important;}
.form-horizontals  #bg_image_errors{ text-align:left!important; padding:0 15px;}
#int_vid,#bgfile{ border:1px solid #ddd; /* margin:14px 0 0px; */margin:0px;}
.form-horizontals .col-md-2.sm-2-block{ float:left; padding-bottom:10px; padding-left:18px;}		
.form-horizontals   .tmesutker-clsahss{ width:100%; padding-bottom:10px;}
.list-group .item.grid-group-item .thumbnail, .list-group .item .thumbnail{ min-height:400px;}
#new_files .list-group .item .thumbnail, #new_files .list-group .item	.grid-group-item .thumbnail{ min-height:285px;}
#new_files .list-group .item.list-group-item .thumbnail{ min-height:0;}
#new_files .list-group .item .thumbnail .group.col-xs-8{ padding-left:35px;}
#videos .list-group .item.grid-group-item .thumbnail, .list-group .item .thumbnail{ min-height:181px;}
#videos .list-group .item.list-group-item .thumbnail{ min-height:0;}
.grid-group-item .bottom-detailsul li .del-video, .detailsblock-btn{max-width:200px; margin:0 auto 10px; }
.grid-group-item .image-holder, .list-group-item .image-holder{height:128px; width:128px; margin:0 auto; display:block;}
.modal-body.collaboration .form_bottom .radio_head{font-size: 15px !important;}
.form_bottom .checkbox label{font-size: 14px !important;}
.modal-body.collaboration .form_bottom{padding-left:8px!important; padding-right:8px!important;}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
.background_uploader .control-label, .col-sm-full .control-label{max-width:25%!important; width:100%!important; float:left!important; padding-right:0;}
.background_uploader  .tmesutker-clsahss, .col-sm-full  .tmesutker-clsahss{max-width:45%!important; width:100%!important; float:left!important;}
.background_uploader .right-colsm, .col-sm-full .sm-2-block{max-width:30%!important; width:100%!important; float:left!important;}
.background_uploader .tmesutker-clsahss input{margin-top:0;}
.form-horizontals  .label-class{font-size:13px;}
#int_vid,#bgfile{margin:0;}
.background_uploader h3, .col-sm-full h3{padding-left:0!important;}
.col-sm-full h3{padding-left:0!important; padding-bottom:0!important; margin-bottom:10!important;}
#collaboration .label-class{padding-right:15px!important;}
#collaboration .label-class input{width:100%!important;}
#collaboration .label-class{max-width:35%!important; width:100%!important; float:left!important; padding-right:0;}
#collaboration .tmesutker-clsahss{max-width:35%!important; width:100%!important; float:left!important; padding-right:0;}
#collaboration .right-colsm {max-width:30%!important; width:100%!important; float:left!important; padding-right:0;}
}
@media screen and (min-width: 1025px) and (max-width: 1255px){
#collaboration .label-class input{width:100%!important;}
}
@media(max-width:1199px){
.box {width: 100% !important;}
.logged-in #header-container .widget-item {float: none;}
.centre-block{width:100%!important;}
}

@media(max-width:1280px){
.box {width: 80% !important;}
}
@media(max-width:1366px){
.box {width: 70% !important;}
.detail ul li {margin-bottom: 12px !important;}
}

@media(max-width:1599px){
.detail ul li {margin-bottom: 12px !important;}
}

@media(max-width:599px){
/* 	.mainChatBoxArea{
		left: 0;
		right: auto;
	} */
}

.layout-2-details .imgall img{
    margin-left: 10px;
    max-width: 100px;
    max-height: 100px;
    width: 90px;
    height: 60px;
}

.layout-2-details .imgall img:first-child{margin-left: 0px;}
#products .video_excerpt_text.two-ref-del{display: none}
#productsModal .video_excerpt_text.two-ref-del{display: none !important;}

/*  ********************05-12-16** changes for homepage mobile compatiable */


.affiliate-link{
    background-color: rgba(224, 224, 224, 0.82);
    border-color: #b7b9b7;
    border-radius: 3px;
    width: auto !important;
    display: inline-table !important;
    font-size: 16px;
    font-weight: 600;
    max-width: 100% !important;
    padding: 11px 18px !important;
    text-decoration: none;
    white-space: normal;
}
 
.wcv-pro-dashboard .container.p_90{
    padding: 0px !important;
    background: white !important;
}
.wcv-pro-dashboard .full-width#copyright{
    background: #000000 !important;
}
.wcv-pro-dashboard .footer-container.nopadding{

    background: white !important;
}

.wcv-pro-dashboard #copyright {
    padding-top: 30px;
    padding-bottom: 20px;
}
.user .widget-item #login, .user .widget-item #signup{box-shadow: 0px 9px 46px #888888;}
@media only screen and (max-width: 768px){
  .user-images {
    padding-left: 38.8% !important;
  }
}
@media only screen and (max-width: 768px){
  #header-container-wrapper .social_media_icons.center-text {
      left: 0;
      right: 0;
      top: 0;
  }
  #header-container .col-md-12 > .col-xs-12 {
      clear: both;
      position: relative;
      text-align: center;
      width: 100%;
  }
  .col-md-10.col-sm-10.no-padding.search-social.padding-sec {
      clear: both;
      width: 100%;
  }
  #header-container .col-md-10 > .col-xs-12 {
      clear: both;
      padding: 0;
      text-align: center;
      width: 100%;
  }
  .innermain-container #header-container .user .widget-item {
    
      clear: both;
      left: 0;
      margin-top: 0 !important;
      position: relative;
      top: 4px;
      width: 100%;
      text-align: center;
  }
  #header-container .col-md-4.col-sm-4.col-xs-12.no-padding.center-text {
      margin-top: 40px;
  }
  .col-md-2.col-sm-2.col-xs-12.b_donate.tec.no-padding.center-text {
      clear: both;
      position: relative;
      text-align: center;
      width: 100%;
  }
  #header-container .col-md-2.col-sm-2.user {
      clear: both;
      margin: 1% 0;
      position: relative;
      width: 100%;
  }
  #header-container .user-images.left {
      margin: 0 auto;
      /*width: 100%;*/
     /* padding-left: 105px !important;*/
      margin-bottom: 10px !important;
	  margin-right: 5px;
  }
  .user-images{
   /* padding-left: 105px !important;*/
    margin-bottom: 10px !important;
  }
}

.wcUsersListIncluded .wcUsersList a.wcUserInChannel{ border-bottom:1px solid #f1f5f8; white-space:nowrap;}
.wcUsersListIncluded .wcUsersList a.wcUserInChannel:hover{ text-decoration:none!important;}
.wcContainer .wcOperationalSection{ padding-bottom:0!important;}
.wcContainer .wcCustomizations a{ background:#3498db; color:#fff!important; padding:5px 10px; border-radius:3px;}
.wcContainer .wcCustomizations a:hover, .wcContainer .wcCustomizations a:focus{ background:#21648f; color:#fff!important; text-decoration:none!important;}

.wcContainer .wcCustomizationsPanel{ margin-bottom:10px;}
.wcControlsButtonsIncluded  .wcMessagesContainersTabs > .wcMessagesContainerTabActive{ text-align:left; background:#3498db; border-top:0;}
.wcContainer .wcMessagesContainerTabActive a.wcMessagesContainerTabLink{ color:#fff; min-height:26px; padding:5px 0!important;}
.wcContainer .wcMessagesContainerTabActive a.wcMessagesContainerTabLink:hover{ color:#fff;}
.wcContainer .wcMessagesContainerTabActive a.wcMessagesContainerTabCloseLink{ color:#fff!important; border-radius:3px; width:26px; height:26px; font-weight:600; font-size:19px; color:#fff; text-align:center; background:#21648f; line-height:20px; right:11px!important;}
.wcContainer .wcMessagesContainerTabActive a.wcMessagesContainerTabCloseLink:hover{ color:#fff!important; text-decoration:none!important; background:#2389cd;}
.wcMessage .wcMessageAvatar{ max-width:35px!important;}

@media on screen(max-width:767px){
.tab-container #signup{ display:none;}
.wcInputsCompactMode .wcInputContainer{ display:inline-block; width:100%;}
/* .wcContainer a.wcInsertEmoticonButton{ background-size:79%!important;} */
.wcContainer a.wcInsertEmoticonButton{/*  width:25px!important; height:25px!important; */ }
.wcContainer input[type="button"], .wcContainer input[type="button"]:focus, .wcContainer input[type="button"]:active, .wcContainer input[type="submit"], .wcContainer input[type="submit"]:focus, .wcContainer input[type="submit"]:active{ padding:5px 18px!important;}
}
